html {
  font-size: 16px;

  @include tablets {
    font-size: 14px;
  }

  @include phones {
    font-size: 12px;
  }

}

body, 
html {
 height: 100%;
 font-family: 'Gagalin' sans-serif;
 font-weight: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 95%;
  margin: 0 auto;
  max-width: rem(960px);
}

.section {
  height: 100vh;
  min-height: rem(650px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  font-family: Gagalin;
  font-size: rem(72px);
  line-height: 1;
}

ul {
  margin: 0;
  padding: 0;
  & > li {
  list-style: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  background: transparent;
  border: none;
  color: inherit;
}

p {
   padding: 0;
   margin: 0;
}