.best {
   background-image: url(./my_page/img/pagetwo/bg.png);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center center;
   position: relative;
}

.best__content {
  margin-bottom: 40px;  
}

.best__title {
  display: flex;
  justify-content: center;
  color: $black;
  letter-spacing: 4px;
  margin-bottom: 50px;
  letter-spacing: 0.5px;
}

.best__list {
  display: flex;
  justify-content: space-between;
  text-align: justify;
}

.best__img {
  margin-bottom: 30px;
  display: block;
  position: relative;
}

.best__item {
  text-align: center;
  flex-basis: 33%;
}

.best__subtitle {
  font-family: lifehack;
  font-size: 24px;
  margin-bottom: 30px;
  text-align: center;
}

.best__text {  
  text-align: center;
  font-family: 'Ubuntu';
  font-size: 14px;
  font-weight: 300;
  line-height: 1.7;
  color: rgba(47, 50, 52, 0.8);
}
