.best {
   background-image: url(./my_page/img/pagetwo/bg.png);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center center;
   position: relative;

  &__title {
  display: flex;
  justify-content: center;
  color: $black;
  letter-spacing: rem(4px);
  margin-bottom: rem(40px);
  letter-spacing: 0rem(5px);
  }

  &__list {
  display: flex;
  align-items: baseline;
     @include phones {
      display: flex;
      flex-direction: column;
    }
  }

  &__img {
  margin-bottom: rem(40px); 
    @include phones {
      margin-left: rem(10px);
    }
  }

  &__item {
  text-align: center;
  margin-bottom: rem(40px);
  flex-basis: 33.3%;
    @include phones {
      display: flex;
      flex-direction: row;
      text-align: start;
      margin-bottom: 0;
    }
  }

  &__subtitle {
  @include life;
  font-size: rem(24px);
  font-weight: 500;
    @include phones {
      margin-left: rem(10px);
    }

  }

  &__text {  
  text-align: center;
  @include ubuntu;
  font-size: rem(14px);
  font-weight: 300;
  line-height: 1.7;
  color: rgba(47, 50, 52, 0.8);
  margin-top: rem(15px);
    @include phones {
      display: flex;
      flex-direction: row;
      text-align: start;
      margin-left: rem(10px);
    }
  }
}