.btn {
  padding: rem(12px) rem(15px);
  @include ubuntu;
  font-weight: 500;
  border-radius: rem(5px);
  background-color: $red;
  text-transform: uppercase;
  text-decoration: none;
  color: $white;
  font-size: rem(13px);
  &:hover {
    background: #c1401e;
  }
}