.btn {
  padding: 12px 15px;
  @include ubuntu;
  font-weight: 500;
  border-radius: 5px;
  background-color: $red;
  text-transform: uppercase;
  text-decoration: none;
  color: $white;
  font-size: 13px;
}