/* .drop {
  position: absolute;
  left: 122px;
  top: 0;
  background: rgba($color: white, $alpha: 0.9);
  border-radius: 5px;
  width: 270px;
  height: 330px;
  display: none;

  &__item {
    display: flex;
    flex-direction: row;
    @include ubuntu;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
  }

} */

