.fix__menu {
  position: fixed;
  top: 90px;
  right: 35px;
  z-index: 2;
}

.fix__menu__knob {
  display: block;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  border: 1px solid transparent;
  margin-bottom: 3px;
  position: relative;

  &--active {
    border-color: $white;
  }

  &:before {
    content: '';
    width: 6px;
    height: 6px;
    background-color: $white;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}