.footer {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;

  &__block {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    justify-content: space-between;
    background-image: url(./my_page/img/pagefooter/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @include phones {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  &__addres {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    @include ubuntu;
    font-size: rem(14px);
    font-weight: 500;
    color: $white;
    padding: rem(10px) 0;
    white-space: nowrap;
  }

  &__text {
    padding: rem(5px) 0;
  }

  &__phone {
    @include phones {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &__phone_number {
    font-weight: bold;
    color: $orange;
    padding-left: rem(10px);
    text-decoration: none;
  }

  &__social {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &__social_list {
    display: flex;
    top: 50%;
  }

  &__social_icon {
    margin-left: rem(20px);
    opacity: .3;
    transition: .3s;

    &:hover {
      opacity: 1;
    }
  }

}

#map {
  width: 100%;
  height: 100%;
  top: 0;
}