.form {
  background-image: url(./my_page/img/pageform/bgform.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;

  .form {
    display: flex;
    flex-direction: row;

    @include tablets {
      display: flex;
      width: 60%;
      flex-direction: column;
      margin-left: 0;
    }

    @include phones {
      display: flex;
      align-items: center;
      width: 95%;
      margin-left: 2.5%;
    }

    &__container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      @include phones {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 95%;
        margin: 0;
      }
    }
  }

  &__title {
    text-align: center;
    color: $yellow;
    margin-bottom: rem(50px);
  }

  &__row {
    display: flex;
    margin-bottom: rem(12px);
    margin-right: rem(-20px);
  }

  &__col {
    flex: 1;

    &:first-child {
      margin-left: rem(-20px);
    }
  }

  &__label {
    display: flex;
    flex-direction: column;
    margin-left: rem(20px);

    &_title {
      font-size: rem(14px);
      color: $white;
      @include ubuntu;
      margin-bottom: rem(10px);
    }

    & textarea {
      resize: none;
    }
  }

  &__input {
    border-radius: rem(6px);
    background-color: #fff;
    font-size: rem(14px);
    padding: rem(10px) rem(20px);
    display: block;
    width: 100%;
    border: none;
    outline: none;
    border: rem(2px) solid transparent;
    width: 100%;

    &:focus {
      border: rem(2px) solid $yellow;
    }
  }

  &__comment {
    width: 100%;
    margin: 0 rem(20px) 0 rem(40px);

    @include tablets {
      margin: 0;
    }

    @include phones {
      text-align: center;
      margin-left: 0;
    }
  }

  &__radio {
    display: inline-flex;
    flex-wrap: wrap;
    margin-top: rem(5px);
    margin-right: rem(20px);
    white-space: nowrap;
    @include ubuntu;
    color: $white;

    &_real {
      width: rem(10px);
      height: rem(10px);
      margin: 0 rem(-10px) rem(-10px) 0;
      opacity: 0;

      &:checked~.form__radio_style {
        border: rem(1px) solid $red;

        &::after {
          opacity: 1;
        }
      }
    }

    &_style {
      display: inline-block;
      width: rem(20px);
      height: rem(20px);
      line-height: rem(20px);
      margin-right: rem(10px);
      border-radius: 50%;
      border: rem(1px) solid $red;
      position: relative;
      vertical-align: middle;

      &::after {
        content: '';
        width: rem(8px);
        height: rem(8px);
        display: block;
        background: $red;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        opacity: 0;
      }
    }

    &__checkbox {
      display: inline-flex;
      flex-wrap: wrap;
      margin-top: rem(15px);
      margin-right: rem(20px);
      white-space: nowrap;
      @include ubuntu;
      color: $white;
    }

    &_check {
      display: inline-block;
      width: rem(10px);
      height: rem(10px);
      margin: 0 rem(-10px) rem(-10px) 0;
      opacity: 0;

      &:checked~.form__radio_style-check {
        &::after {
          opacity: 1;
        }
      }
    }

    &_style-check {
      display: inline-block;
      width: rem(20px);
      height: rem(20px);
      margin-right: rem(10px);
      background-color: $white;
      position: relative;
      vertical-align: middle;

      &::after {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        left: rem(3px);
        top: rem(4px);
        width: rem(10px);
        height: rem(5px);
        border-radius: rem(1px);
        border-left: rem(4px) solid $red;
        border-bottom: rem(4px) solid $red;
        transform: rotate(-45deg);
        opacity: 0;
      }
    }
  }

  &__footer {
    margin-top: rem(20px);
  }

  &__btn {
    border: inherit;

    &_reset {
      margin-left: rem(10px);
      @include ubuntu;
      color: $white;
      background: transparent;
      border: transparent;

      &:focus {
        border: transparent;
      }
    }
  }
  &__error {
    color: $red;
    @include ubuntu;
    font-style: oblique;
    font-size: rem(14px);
    letter-spacing: 1.7;
  }
}