.menu {
  background-image: url(./my_page/img/pagemenu/bgmenu.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;

  &__mmmm {
    position: static;
    display: block;
  }

  &__title {
    position: absolute;
    top: 10%;
    left: 5%;
    color: $white;

    @include phones {
      left: 10%;
    }
  }

  &-acco {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    list-style: none;
    display: flex;

    &__item {
      display: flex;
      position: relative;

      &--active .menu-acco__name {
        color: $yellow;
      }

      &--active .menu-acco__content {
        max-width: rem(540px);
        padding: rem(62px) rem(35px);
        visibility: visible;
        opacity: 1;

        @include tablets {
          max-width: rem(300px);
          padding: rem(32px) rem(17px);
        }

        @include tablets {
          max-width: rem(350px);
        }
      }
    }

    &__name {
      position: relative;
      width: rem(80px);
      @include gagalin;
      font-size: rem(40px);
      color: $white;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      text-transform: uppercase;

      &>span {
        white-space: nowrap;
        position: absolute;
        left: rem(15px);
        bottom: 0;
        right: 0;
        transform: rotate(-90deg);
        transform: rotateZ(-90deg);
        transform-origin: 0 0;
      }
    }

    &__content {
      background-color: rgba(47, 50, 52, .9);
      color: $white;
      font-size: rem(14px);
      @include ubuntu;
      line-height: 1.7;
      max-width: 0;
      visibility: hidden;
      opacity: 0;
      transition: 1s;
      transition-property: max-width, opacity, visibility;
    }
  }
}