.promo {
  background-image: url(./my_page/img/pageheder/Rectangle.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
  &__title {
    color: $yellow;
  }
}
.promo__content {
  display: flex;
  align-items: center;
  &__title {
  margin: rem(20px) rem(15px);
  }
}

.promo__subtitle {
  @include life;
  margin-top: rem(35px);
  font-size: rem(56px);
  color: $white;
  line-height: 1;
  letter-spacing: rem(3px);
}

.promo__img {
  margin: 0 0 rem(60px) rem(15px);
}

.promo__scroll_btn {
  width: rem(29px);
  height: rem(15px);
  background-image: url("./my_page/img/pageheder/arrow-scroll.png");
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  position: absolute;
  bottom: rem(30px);
  left: 50%;
  transform: translateX(-50%);
}