.slider {
  background-image: url(./my_page/img/pageburg/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;

  &__container {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  &__left {
    width: rem(29px);
    height: rem(15px);
    background-image: url("./my_page/img/pageheder/arrow-scroll.png");
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    left: 5%;
    bottom: 50%;
    transform: rotate(90deg);
    cursor: pointer;
  }

  &__right {
    width: rem(29px);
    height: rem(15px);
    background-image: url("./my_page/img/pageheder/arrow-scroll.png");
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    right: 5%;
    bottom: 50%;
    transform: rotate(-90deg);
    cursor: pointer;
  }

  &__title {
    @include phones {
      font-size: rem(50px);
    }
  }

  &__menu {
    width: 100%;
    height: 100%;

    @include tablets {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &__list {
    width: 100%;
    position: relative;
  }

  &__item {
    display: none;

    &:first-of-type {
      display: flex;
      flex-direction: row;
      width: 100%;
      height: 100%;
      flex-grow: 0;
      flex-shrink: 0;

      @include tablets {
        display: flex;
        flex-direction: column;
      }
    }

    @include tablets {
      display: flex;
      flex-direction: column;
    }
  }

  &__burger {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    &--img {
      @include tablets {
        width: 100%;
        margin-top: 15%;
      }

      @include phones {
        width: 100%;
        margin-top: 20%;
      }
    }

    @include tablets {
      width: 80%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-left: 10%;
    }

    &__drop {
      margin: 0 0 rem(-15px) rem(30px);
      cursor: pointer;

      @include tablets {
        margin: 0;
      }
    }

    &__icon {
      margin-left: rem(30px);
      margin-top: rem(-25px);

      @include tablets {
        width: 10%;
        position: absolute;
        right: 17%;
        top: 2%;
      }

      @include phones {
        width: 100%;
        position: absolute;
        right: 17%;
        top: 3%;
      }


    }

    &--icon {

      @include phones {
        width: 8%;
        position: absolute;
        right: 0;
      }
    }

    &_img {
      position: relative;

      &:hover {
        background: $red;
        border-radius: rem(5px);

        .drop {
          opacity: 1;
        }
      }

      @include tablets {
        width: 10%;
        position: absolute;
        left: 20%;
        margin-top: -1%;
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: $white;

    @include tablets {
      text-align: center;
      margin-bottom: rem(50px);
    }

    & p {
      font-size: 14px;
      @include ubuntu;
      line-height: 1.714;

      @include tablets {
        width: 80%;
        margin-left: 10%;
        margin-top: 5%;
      }

      @include phones {
        width: 90%;
        margin-left: 5%;
        margin-top: 5%;
        font-size: 12px;
      }
    }
  }

  &__prise {
    display: flex;
    flex-direction: row;
    align-items: baseline;

    @include phones {
      margin-top: 5%;
      white-space: nowrap;
    }

    &_title {
      @include gagalin;
      font-size: 72px;
      color: $red;
      margin-right: 20px;


      @include tablets {
        margin-left: 25%;
        margin-top: 5%;
        white-space: nowrap;
      }

      @include phones {
        margin-left: 25%;
        margin-top: 5%;
        white-space: nowrap;
        font-size: 30px;
      }
    }

    &_subtitle {
      font-size: 30px;

      @include phones {
        font-size: 15px;
      }
    }
  }

}

.slider__burger_imsg.drop {
  display: block;
}

.drop {
  position: absolute;
  left: 122px;
  top: 0;
  background: rgba($color: white, $alpha: 0.9);
  border-radius: 5px;
  width: 270px;
  height: 330px;
  display: none;

  &__item {
    display: flex;
    flex-direction: row;
    @include ubuntu;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
  }

}