.team {
  background-image: url(./my_page/img/pageteam/bgteam.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
  
  &__container {
    position: absolute;
    width: 50%;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(51, 53, 55, .8);
  }
  &__title {
    color: $yellow;
    display: flex;
    justify-content: center;
    margin-top: rem(115px);
  }
  &-acco {
    display: flex;
    justify-content: center;
    &__item {
      margin-top: rem(35px);
    }
    &__container {
      margin-left: rem(100px);
      &--active {
        .team-acco__name_icon {
        transform: rotate(180deg);
        }
        .team-acco__name_prof {
          color: $yellow;
        }
        .team-acco__desc {
          height: 100%;
        }
      }
    }
    &__name {
      display: flex;
      &_icon {
      }
      &_prof {
        margin-left: rem(18px);
        @include gagalin;
        color: $white;
        text-transform: uppercase;
        font-size: rem(14px);
      }
    }
    &__desc {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      height: 0;
      overflow: hidden;
      &_pic {
        width: rem(132px);
        max-width: rem(132px);
        height: rem(100px);
        max-height: rem(100px);
        border-radius: 50%;
        overflow: hidden;
        object-fit: cover;
        background-position: center center / no-repeat;
        margin: rem(10px) rem(15px);
        &:after {
          content: '';
          display: block;
          width: 100%;
          padding-top: 100%;
        }
      }
    }
    &__title {
      display: flex;
      flex-direction: column;
      color: $white;
      @include ubuntu;
      line-height: 1.7;
      font-size: rem(14px);
      &_desc {
        margin-top: rem(10px);
      }
    }
  }

}  
